* {
  padding: 0;
  margin: 0;
}
body {
  display:flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  flex-direction: column;
  

}

.game {
  width: 600px;
  height: 200px;
  border: 1px solid black;
  margin: auto;
  overflow: hidden;
  background-color: aqua;
 
}

#mario {
  width: 50px;
  height: 50px;
  background-image: url(img/mario.png);
  background-size: 50px 50px;
  position: relative;
  top: 145px;
  
  
}
.jump {
  animation: jump 0.3s linear;
 
}

@keyframes jump {
  0% {
    top: 150px;

  }
  25% {
    top:115;
  }

  50% { 
    top: 80px;
  }

  75% {
    top:115px;
  
  }

  100% {
    top: 150px;
  }
}

#goomba {
  width:30px;
  height: 40px;
  position: relative;
  top: 110px;
  left: 570px;

  background-image: url("img/goomba.png");
  background-size: 30px 40px;
  

  
}

@keyframes leftmovement {
  0% {
    left:580px;
  }

  100% {
    left:-100px;
  }

}

#clouds {

  width:80px;
  height:40px;
  position:relative;
  top: -60px;
  left:500px;

  background-image: url("img/mariocloud.png");
  background-size: 80px 40px;
  
  

}


#score {
  position:relative;
  height:15px;
  width:80px;
  top: -130px;
  right:-540px;
  font-family:'Playfair Display', serif;  
  font-size:16px;

}

#road {
  position: relative;
  height:30px;
  width:600px;
  background-image: url("img/mariochao.png");
  background-repeat: repeat-x;
  background-size: 85% 50%;
  --position:0;
  background-position: var(--position) 50%;
  top:42px;
  z-index:0;

}

h1 {
  font-size:30px;
  font-family:'Rubik', sans-serif;
  padding-top:70px;
   
}





